*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cont{
    height: 100vh;
    background: #adf;
}

.game{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 100px;
    width: 100px;
    background: #000;
    border-radius: 15px;
    box-shadow: 0 0 50px #fff;
    transition: 1s;
    cursor: pointer;
    color: #fff;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
}